<!DOCTYPE html>
<html>
<head>
    <title>Contact Us</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }

        header {
            background-color: #333;
            color: #fff;
            padding: 20px;
        }

        main {
            margin: 20px;
        }
    </style>
</head>
<body>
    <header>
        <h1 align="center">Contact Us</h1>
    </header>
    <main>
        <form>
            <p align="center">
                <br><br>Senior Executive Officer.<br>Abhinav Modem<br><br>
                Email: abhinavmodem@gmail.com<br>+91 824 565 7098/+91 656 767 8988<br>
            </p>
        </form>
    </main>
</body>
</html>
