/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    /* font-family:  'Sofia',sans-serif; */
    /* font-family: 'Roboto', sans-serif;
     */
     font-family: 'Roboto', sans-serif;
}
.container{
    width: 100%;
    height: 100vh;
    /* background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)),url(Newfolder/download3.jpg); */
    background-image: url(bg.jpg);
    background-position: center;
    background-size: cover;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box ;
    background-repeat: repeat;
}
.navbar{
    height: 12%;
    display: flex;
    align-items: center;
}
.logo{
    width:50px;
    cursor: pointer;
}
.menu-icon{
    width: 30px;
    cursor: pointer;
    margin-left: 40px;
}
nav{
    flex:1;
    text-align: right;
}
nav ul li{
    list-style-type: none;
    display: inline-block;
    margin-left: 60px;
}
nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 20px;
}
.row{
    display: flex;
    height: 88%;
    align-items: center;
}
.col{
    flex-basis: 50%;
    justify-items: center;
    padding-right: 120px;
}
h1{
    color: rgb(111, 238, 149);
    font-size: 50px;
}
H2{
    color: rgb(248, 208, 253);
    font-size: 16px;
    /* line-height: 15px; */
}
button{
    width: 180px;
    color:rgb(0, 0, 0);
    font-size: 15px;
    padding: 12px 0;
    background: rgb(201, 235, 241);
    border-radius: 30px;
    outline: none;
    margin-top:30px ;
    /* transition: 0.5s; */
}
.card{
    width: 400px;
    height: 250px;
    display: inline-block;
    border-radius: 10px;
    padding: 35px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px 15px;
    /* background-image: url(download.jpg); */
    background-position: center;
    background-size: cover;
    transition: 0.5s;
    color: rgb(0, 0, 0);
    text-align: center;
    /* justify-content: center; */

}
.card1{
    background-image: url(download2.jpg);
}
.card3{
    background-image: url(download1.avif);
    text-size-adjust: 0.6;
/* }.card3{
    background-image: url(https://github.com/Ashok19012002/html/blob/main/cccy.jpg?raw=true); */
}


.card:hover{
    transform: translateY(-10px);
}

h3{
    columns: rgb(115, 59, 245);
    /* text-shadow: 0 0 5px rgb(102, 98, 98); */
    /* padding-top: 20px; */
}
/* .card p{
    text-shadow: 0 0 15px #000;
    font-size: 8px;
} */
a {
    text-decoration: none;
    color: inherit;
  }
/*@media (max-width: 470px) and (max-height: 320px) {
            .container {
                padding: 10px;
            }

            .navbar img {
                width: 40px;
            }

            nav ul li {
                margin-left: 10px;
            }

            h1 {
                font-size: 24px;
            }

            h2 {
                font-size: 16px;
            }

            button {
                font-size: 14px;
            }

            .card {
                padding: 10px;
            }

            .card1,
            .card3 {
                margin-top: 20px;
            }
        }*/